.section1 {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(80% - 80px);
    @media only screen and (max-width: 1200px) {
        .hero-title {
            font-size: 65px;
        }
    }
    .left {
        width: calc(100% / 2);
        padding: 0 55px;
    }
    .right {
        height: 100%;
        background-image: url(/assets/hero.gif);
        background-size: cover;
        width: calc(100% / 2);
        background-color: white;
        background-position: 50%;
        filter: hue-rotate(45deg) contrast(1.3);
    }
    @media only screen and (max-width: 1024px) {
        .left, .right {
            width: 100%;
            padding: 16px;
        }
    }
}
@media only screen and (max-width: 1024px) {
    .section1 {
        .left {
            padding: 20px;
        }
        height: 100%;
    }
}
@media only screen and (max-width: 660px) {
    .section1 {
        height: 60%;
        .left {
            padding: 20px;
        }
        .right {
            height: 60%;
        }
    }
}
@media only screen and (max-width: 1024px) {
    .brands {
        div {
            display: flex;
            align-items: center;
            justify-content: center;
            width: calc(100% / 2 - 10px * 1 / 2);
        }
        img {
            width: 175px;
        }
    }
}
.heading {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
    .caption {
        font-size: 20px;
        letter-spacing: 1px;
        color: #0F62FE;
        opacity: 0.9;
        text-transform: uppercase;
        font-weight: 700;
    }
    .title {
        color: #003394;
        line-height: 110%;
        font-size: 42px;
        font-weight: 700;
    }
}
@media only screen and (max-width: 1024px) {
    .heading {
        .caption {
            font-size: 20px;
        }
        .title {
            font-size: 33px;
        }
    }
}
.section3 {
    .container {
        max-width: 1071px;
        .card {
            display: flex;
            align-items: center;
            justify-content: center;
            width: calc(100% / 3 - 43px * 2 / 3);
            height: 100%;
            background-color: var(--blue);
            height: 253px;
            border-radius: 14px;
            padding: 0 16px;
        }
        @media only screen and (max-width: 1024px) {
            .card {
                width: 75%;
                height: 200px;
            }
        }
        .white {
            background-color: rgb(217, 217, 217);
            color: #21272A;
            div {
                color: inherit
            }
        }
    }
}
.section4 {
    .books-container {
        row-gap: 24px;
        column-gap: 24px;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }
    .card {
        min-width: 367px;
        width: calc(100% / 3 - 24px * 2 / 3);
        background-color: #F4F4F4;
        min-height: 466px;
        height: fit-content;
        border-radius: 15px;
        position: relative;
        .image {
            position: absolute;
            --url: url(/assets/books/ghi-chep-phap-y-4_-lat-lai-ho-so-toi-ac-luu-bat-bach-linh-tu-dich.jpg);
            background-image: var(--url);
            height: 100%;
            width: 100%;
            background-size: cover;
            border-radius: 15px;
        }
        .book1 {
            --url: url(/assets/books/20-30-tuoi-cang-nhieu-co-gang-cang-lam-may-man-lieu-tri-phong.jpg)
        }
        .book2 {
            --url: url(/assets/books/ghi-chep-phap-y-4_-lat-lai-ho-so-toi-ac-luu-bat-bach-linh-tu-dich.jpg)
        }
        .book3 {
            --url: url(/assets/books/ke-chu-muu-shari-lapena-26-orkid-dich.jpg)
        }
        .book4 {
            --url: url(/assets/books/logic-cua-tam-tri-michael-lewis.jpg)
        }
        .book5 {
            --url: url(/assets/books/ngay-yeu-tham-ket-thuc-bon-la-bac.jpg)
        }
        .book6 {
            --url: url(/assets/books/song-nhu-loai-meo-alison-davies.jpg)
        }
        .text {
            position: absolute;
            bottom: 0;
            height: calc(100% - 300px);
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 16px;
            background-color: rgba(231, 231, 231, 0.65);
            border-radius: 0 0 15px 15px;
            .title {
                font-size: 28px;
                font-weight: bold;
                line-height: 110%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color: black;
            }
            .author {
                font-size: 16px;
                line-height: 140%;
                font-weight: 400;
                opacity: 100%    ;
                color: black;
            }
            .desc {
                opacity: 100%;
                font-size: 17px;
                line-height: 140%;
                font-weight: 400;
                color: black;
            }
            .price {
                font-size: 24px;
                font-weight: 700;
                line-height: 120%;
                color: #003394;
            }
            button {
                box-shadow: 0 3px 5px rgba(24, 75, 242, 25%);
                padding: 12px 28px;
                font-size: 16px;
                letter-spacing: 0.5px;
            }
        }
    }
    @media only screen and (max-width: 800px) {
        .card {
            width: 450px;
            height: 500px;
            .text {
                .author {
                    font-size: 18px;
                }
                .desc {
                    font-size: 20px;
                }
            }
        }
    }
}
.section5 {
    .container {
        display: flex;
        flex-direction: row;
        gap: 64px;
        justify-content: space-between;
        .left {
            background-image: url(/assets/faq.jpg);
            background-size: cover;
            background-position: 50%;
            min-height: 475px;
            height: 100%;
            width: calc(100% / 2 - 64px / 2);
            border: 10px solid white;
        }
        .right {
            text-align: center;
            width: calc(100% / 2 - 64px / 2);
            .faq {
                width: 100%;
            }
            .question {
                cursor: pointer;
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding: 16px;
                font-size: 20px;
                font-weight: bold;
                background-color: white;
                border: 2px solid #DDE1E6;
                min-height: 59px;
                color: rgba(33, 39, 42, 87%);
                transition: 0.25s;
                span {
                    color: inherit;
                }
            }
            .question:hover {
                background-color: rgb(240, 240, 240);
            }
            .answer {
                color: rgba(33, 39, 42, 87%);
                display: none;
                text-align: left;
                font-size: 18px;
                font-weight: 500;
                height: 0px;
                overflow: hidden;
                padding: 8px 16px;
                background-color: white;
                border: 2px solid #DDE1E6;
            }
        }
        @media only screen and (max-width: 1024px) {
            .right {

                width: 100%;
                .flex-c {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    align-items: center;
                }
                .question {
                    max-width: 600px;
                    width: 95%;
                }
                .answer {
                    width: 95%;
                    max-width: 600px;
                }
            }
        }
    }
}
.section6 {
    .container {
        .card {
            background-color: var(--blue);
            border-radius: 15px;
            width: calc(100% / 3 - 16px * 2 / 3);
            height: 304px;
            padding: 24px 12px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        @media only screen and (max-width: 1024px) {
            .card {
                padding: 12px 24px;
                max-width: 600px;
                width: 95%;
                height: 250px;
            }
        }
        .profile {
            img {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                border: 2px solid white;
            }
            .name {
                font-size: 24px;
                line-height: 110%;
                font-weight: 700;
            }
        }
        .comment {
            text-align: center;
            font-size: 18px;
            line-height: 140%;
        }
    }
}
footer {
    hr {
        border-color: #C1C7CD;
    }
    .container {
        width: calc((1280 / 1440) * 100%);
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        .link-bar {
            width: max-content;
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
        .link-type {
            padding: 12px 0;
            font-size: 20px;
            font-weight: 800;
            line-height: 110%;
            height: min-content;
            color: white;
        }
        .link {
            color: white;
            font-size: 16px;
            font-weight: 400;
            cursor: pointer;
        }
        .social {
            gap: 8px;
        }
        .copyright {
            color: white;
        }
        input {
            width: 100%;
            font-size: 16px;
            color: black;
            padding: 12px 16px;
        }
        .primary {
            border-radius: 0px;
        }
    }
}