.sectionX {
    height: calc(100% - 80px);
    .container {
        max-width: 700px !important;
        padding: 32px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        border-radius: 15px;
        border: 2px solid rgb(121, 121, 121);
        background-color: rgba(255, 255, 255, 0.67);
        .success {
            color: rgb(88, 240, 88);
        }
    }
}